<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy8eGenDoqRx7_gxgGjJ6sI_RB05y45Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>525553000187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AheadTeenBanking.Ahead</string>
	<key>PROJECT_ID</key>
	<string>ahead-banking</string>
	<key>STORAGE_BUCKET</key>
	<string>ahead-banking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525553000187:ios:b71f3942ba7d1c76991a5e</string>
</dict>
</plist>